################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeleniumFramework/v15/Server/sqlite3
/packages/NUnit.2.6.4
/.vs/SeleniumFramework/v15
